<ol>
  <li>Pick a gacha event (e.g. <em>Ultra Souls</em> or <em>Uberfest</em>). Use your rare (gold) tickets or cat food. Both work the same.</li>
  <li>
    Roll several times. Preferably 7 to 10 rolls. Record the results. The more rolls you made, the more accurate the result will be.
    <ul><li>(<em>Alternative</em>) There's another strategy that you can just roll 5 cats, and it's very likely that it'll give you a wrong seed. That is ok, you can then roll the 6th cat, and check if it's matching your track or not. If not, put that 6th cat into the list and seek again. Repeat the process until you get an accurate result.</li></ul>
  </li>
  <li>Fill the results at seed seeking in the respective rolling order. Make sure you pick the gacha event you rolled with.</li>
  <li>
    If you made 11-rolls with a <strong>guaranteed event</strong>, or 15-rolls (3+5+7) with a <strong>step-up event</strong>:
    <ol>
      <li><strong><em>Don't fill</em> your last <a href="<%= route.help_uri %>#what-is-a-guaranteed-uber">guaranteed uber</a> in the form.</strong></li>
      <li>Fill the last 10 rolls without the last guaranteed uber.</li>
    </ol>
  </li>
  <li><em>Avoid gacha events</em> having repeated cats (e.g. <em>Metal Busters</em> or potentially collaboration gacha). If you did, you'll need to trial and error to find the correct one from the drop down menu picking the cats you rolled, because we can't tell which one you actually rolled. You can only try them one by one.</li>
  <li>Note that <strong>you only need to find the seed once</strong>. Following up, you can <a href="<%= route.help_uri %>#advance-the-tracks">advance the tracks</a> from there.</li>
</ol>
