<div class="note">
  <ul>
    <li>Data was pulled from the app and event data.</li>
    <li>Data was completely based on <a href="https://gitlab.com/godfat/battle-cats-rolls/blob/master/build/bc-<%= route.lang %>.yaml">bc-<%= route.lang %>.yaml</a>.</li>
    <li>Clicking on the cat's name simulates rolling to that cat.</li>
    <li>Clicking on &#128062; leads to the cat data.</li>
    <li>Guaranteed cat will only show if the event has guaranteed cats.</li>
    <li>Track A or B is purely perspective. Rolling a guaranteed cat will swap the track, not jump. You're always on track A, and the other track is the alternative track.</li>
    <li>Step-up counts as 15 rolls by summing 3, 5, and 7.</li>
    <li>
      <ul>
        <li><span class="supa"><a>Super</a></span> cats</li>
        <li><span class="supa_fest"><a>Super</a></span> in Uberfest or Epicfest only</li>
        <li><span class="uber"><a>Uber</a></span> cats</li>
        <li><span class="uber_fest"><a>Uber</a></span> in Uberfest or Epicfest only</li>
        <li><span class="exclusive"><a>Exclusive</a></span> cats</li>
        <li><span class="found"><a>Found</a></span> cats</li>
        <li><span class="legend"><a>Legendary</a></span> cats if available</li>
        <li>
          Priority:
          <span class="legend"><a>Legendary</a></span> &gt;
          <span class="found"><a>Found</a></span> &gt;
          <span class="exclusive"><a>Exclusive</a></span> &gt;
          others
        </li>
        <li><span class="uber owned"><a>Owned</a></span> cats (rarity on the left)</li>
        <li><span class="picked">Rolled</span> cats</li>
        <li><span class="picked_consecutively">Rolled</span> cats with consecutive (11 or 15) rolls</li>
        <li><span class="next_position">Next position</span> after the rolls</li>
      </ul>
    </li>
    <li>Prediction of next festival exclusive cats would show if the picked event contains them.</li>
    <li>Server time is UTC. Event time isn't taken into account yet.</li>
  </ul>
</div>
